{% extends 'about.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">

{% block link1 %}
<div class="col-md-4">
    <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiPerformance">
        <img src="{% static 'Images/Links/link1snap.jpg' %}" width="300" alt="Изображение ссылки 1" />
    </a>
</div>
{% endblock link1 %}

{% block link2 %}
<div class="col-md-4">
    <a href="https://www.kimovil.com/ru/compare-smartphones/order.dm+userOpinionOverallSatisfactionAverage">
        <img src="{% static 'Images/Links/link2.jpg' %}" width="300" alt="Изображение ссылки 2" />
    </a>
</div>
{% endblock link2 %}

{% block link3 %}
<div class="col-md-4">
    <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiCamera">
        <img src="{% static 'Images/Links/link1.jpg' %}" width="300" alt="Изображение ссылки 3" />
    </a>
</div>
{% endblock link3 %}