{% extends 'index.html' %}

{% block navbarOnAbout %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">

<div class="row" style="padding-top: 50px;">
  
    <div class="col-md-4" style="padding: 3%">
        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiPerformance">
            <p style="padding: 3%">
                Смартфоны с лучшей производительностью
            </p>
            <img src="{% static 'Images/Links/link1snap.jpg' %}" width="340" height="250" alt="Изображение ссылки 1" />
        </a>
    </div>
         
    <div class="col-md-4" style="padding: 3%">
        <a href="https://www.kimovil.com/ru/compare-smartphones/order.dm+userOpinionOverallSatisfactionAverage">
            <p style ="padding: 3%">Эргономику с премиальными материалами корпуса</p>
            <img src="{% static 'Images/Links/link2.jpg' %}" width="340" height="250" alt="Изображение ссылки 2" />
        </a>
    </div>
           
    <div class="col-md-4" style="padding: 3%;">
        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiCamera">
            <p style ="padding: 3%">
                Воспоминания с кристально-чистой оптикой камеры и большим объемом памяти
            </p>
            <img src="{% static 'Images/Links/link1.jpg' %}" width="340" height="250" alt="Изображение ссылки 3" />
        </a>
    </div>
            
</div>

{% endblock navbarOnAbout %}