 {% extends 'index.html' %}


{% block navbarOnAbout %}


    {% load static %}

<table class="table">
    <tr>
        <td colspan="3">
            <p class="text">
                Компания Topsmone была основана в 2023 году и сразу поставила перед собой большую цель - создать носимые устроства, достойные кармана своего пользователя.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p class="text">
                Мы создаем
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="text_2">
                Смартфоны с лучшей производительностью
            </p>
        </td>
        <td>
            <p class="text_2">
                Эргономику с премиальными материалами корпуса
            </p>
        </td>
        <td>
            <p class="text_2">
                Воспоминания с кристально-чистой оптикой камеры и большим объемом памяти
            </p>
        </td>
    </tr>
</table>
    {% endblock navbarOnAbout %}
