{% extends 'index.html' %}

{% block navbarOnAbout %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">

<!-- <div class="row" style="padding-top: 50px;">

    <div class="col-md-4">
        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiPerformance">
            <p>
              Смартфоны с лучшей производительностью
             <img class="col-md-11" src="{% static 'Images/Links/link1snap.jpg' %}"  height="340" alt="Изображение ссылки 1" />
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="https://www.kimovil.com/ru/compare-smartphones/order.dm+userOpinionOverallSatisfactionAverage">
            <p>
                 Эргономику с премиальными материалами корпуса
                <img class="col-md-11" src="{% static 'Images/Links/link2.jpg' %}" height="340" alt="Изображение ссылки 2" />
            </p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiCamera">
            <p>
               Воспоминания с кристально-чистой оптикой камеры и большим объемом памяти
              <img class="col-md-11" src="{% static 'Images/Links/link1.jpg' %}" height="340" alt="Изображение ссылки 3" />
            </p>
        </a>
    </div>

</div> -->
<div style="padding-top:50px;">
    <table>
        <thead style="height:50px;">
            <tr style="background-color:#393053">
                <th colspan="3" class="text-center" style="color:white">
                    МЫ СОЗДАЕМ
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:#443C68; height:75px;">
                <th class="text-center" style="color:white">
                    СМАРТФОНЫ С ЛУЧШЕЙ ПРОИЗВОДИТЕЛЬНОСТЬЮ
                </th>
                <th class="text-center" style="color:white">
                    ЭРГОНОМИКУ С ПРЕМИАЛЬНЫМИ МАТЕРИАЛАМИ КОРПУСА
                </th>
                <th class="text-center" style="color:white">
                    ЯРКИЕ ВОСПОМИНАНИЯ С КРИСТАЛЬНО-ЧИСТОЙ ОПТИКОЙ КАМЕРЫ И БОЛЬШИМ ОБЪЕМОМ ПАМЯТИ
                </th>
            </tr>
            <tr style="background-color:#443C68">
                <td>
                    <div>
                        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiPerformance">
                            <p>
                                <!--                         Смартфоны с лучшей производительностью
                        -->
                                <img class="col-md-12" src="{% static 'Images/Links/link1snap.jpg' %}" height="340" alt="Изображение ссылки 1" />
                            </p>
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="https://www.kimovil.com/ru/compare-smartphones/order.dm+userOpinionOverallSatisfactionAverage">
                            <p>
                                <!--                         Эргономику с премиальными материалами корпуса
                        -->
                                <img class="col-md-12" src="{% static 'Images/Links/link2.jpg' %}" height="340" alt="Изображение ссылки 2" />
                            </p>
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiCamera">
                            <p>
                                <!--                         Воспоминания с кристально-чистой оптикой камеры и большим объемом памяти
                        -->
                                <img class="col-md-12" src="{% static 'Images/Links/link1.jpg' %}" height="340" alt="Изображение ссылки 3" />
                            </p>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock navbarOnAbout %}