{% extends 'index.html' %}

{% block navbarOnAbout %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}">

{% if form != None %}
<br>
<h2 style="padding-top:50px; text-align:center">
    Отправьте пожалуйста заполненную анкету
</h2>
<br>
<div style=" text-align:center">
    <form method="post">
        {% csrf_token %}
        <label for="{{form.name.id_for_label}}">{{form.name.label}}:</label>
        {{form.name}}<br />

        <label for="{{form.city.id_for_label}}">{{form.city.label}}:</label>
        {{form.city}}<br />

        <label for="{{form.gender.id_for_label}}">{{form.gender.label}}:</label>
        {{form.gender}}<br />

        <label for="{{form.job.id_for_label}}">{{form.job.label}}:</label>
        {{form.job}}<br />

        <label for="{{form.notice.id_for_label}}">{{form.notice.label}}:</label>
        {{form.notice}}<br />

        <label for="{{form.email.id_for_label}}">{{form.email.label}}:</label>
        {{form.email}}<br />

        <label for="{{form.message.id_for_label}}">{{form.message.label}}:</label>
        {{form.message}}<br />

        <input type="submit" value="Отправить" />
    </form>
</div>
{% else %}
<br>
<h2 style="padding-top:50px; text-align:center">
    Благодарим за предоставленную информацию!
</h2>
<h3 style=" text-align:center">
    Вы сообщили о себе следующее:
</h3>
<ul style="text-align:center">
    <li>
        <span>
            Имя:
        </span>
        {{ data.name}}
    </li>
    <li>
        <span>
            Город:
        </span>
        {{ data.city}}
    </li>
    <li>
        <span>
            Пол:
        </span>
        {{ data.gender}}
    </li>
    <li>
        <span>
            Работа:
        </span>
        {{ data.job}}
    </li>
    <li>
        <span>
            Получать новости сайта на e-mail:
        </span>
        {{ data.notice}}
    </li>
    <li>
        <span>
            Ваш e-mail:
        </span>
        {{ data.email}}
    </li>
    <li>
        <span>
            Сообщение:
        </span>
        {{ data.message}}
    </li>
</ul>
{% endif %}

{% endblock navbarOnAbout %}