{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">

<html>
<head>
    <title>Topsmone</title>
    <script src="{% static 'scripts/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    {% block scripts %}{% endblock %}

</head>
<body>
    {% include 'navbar.html' %}

    {% block navbarOnAbout %}
    {% endblock navbarOnAbout %}

</body>
</html>
