{% extends 'index.html' %}

{% block navbarOnAbout %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}">

<div class="tableblock">
    <table cellpadding="10">
        <thead class="thead">
            <tr>
                <th colspan="3" class="text-center thead-text">
                    Найди топовый смартфон с Topsmone
                </th>
            </tr>
        </thead>
        <thead class="thead">
            <tr>
                <th colspan="3" class="text-center thead-text">
                    ВЫБИРАЙ ДЛЯ СЕБЯ
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tbody-row">
                <th class="text-center tbody-col image-more-text">
                    СМАРТФОНЫ С ЛУЧШЕЙ ПРОИЗВОДИТЕЛЬНОСТЬЮ
                </th>
                <th class="text-center tbody-col image-more-text">
                    ЭРГОНОМИКУ С ПРЕМИАЛЬНЫМИ МАТЕРИАЛАМИ КОРПУСА
                </th>
                <th class="text-center tbody-col image-more-text">
                    ЯРКИЕ ВОСПОМИНАНИЯ С КРИСТАЛЬНО-ЧИСТОЙ ОПТИКОЙ КАМЕРЫ И БОЛЬШИМ ОБЪЕМОМ ПАМЯТИ
                </th>
            </tr>
            <tr>
                <td>
                    <div>
                        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiPerformance">
                            <p>
                                <img class="col-md-12 image" src="{% static 'Images/Links/link1snap.jpg' %}" alt="Изображение ссылки 1" />
                            </p>
                            <div class="image-more-text">
                                <p class="btn btn-light image-more-text more-button">Узнать больше &raquo;</p>
                            </div>
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="https://www.kimovil.com/ru/compare-smartphones/order.dm+userOpinionOverallSatisfactionAverage">
                            <p>
                                <img class="col-md-12 image" src="{% static 'Images/Links/link2.jpg' %}" alt="Изображение ссылки 2" />
                            </p>
                            <div class="image-more-text">
                                <p class="btn btn-light image-more-text more-button">Узнать больше &raquo;</p>
                            </div>
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="https://www.kimovil.com/ru/compare-smartphones/order.kiCamera">
                            <p>
                                <img class="col-md-12 image" src="{% static 'Images/Links/link1.jpg' %}" alt="Изображение ссылки 3" />
                            </p>
                            <div class="image-more-text">
                                <p class="btn btn-light image-more-text more-button">Узнать больше &raquo;</p>
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="padding-left:350px;padding-right:350px;padding-top:50px;" id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'Images/huaweinova12ultra.jpg' %}" class="d-block w-100" alt="Картинка карусели 1">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-light image-more-text more-button" href="blogpost/2">
                    Смотреть статью
                </a>
            </div>      
        </div>
        <div class="carousel-item">
            <img src="{% static 'Images/oppo.jpg' %}" class="d-block w-100" alt="Картинка карусели 2">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-light image-more-text more-button" href="blogpost/3">
                    Смотреть статью
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'Images/pixel6a.jpeg' %}" class="d-block w-100" alt="Картинка карусели 3">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-light image-more-text more-button" href="blogpost/1">
                    Смотреть статью
                </a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock navbarOnAbout %}