{% extends "App/index.html" %}

{% block navbarOnAbout %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}">

<h2 style="padding-top:50px; text-align:center">Вход</h2>
<div class="row" style="text-align:center">
    <div class="col-md-8" style="text-align:center">
        <section id="loginForm" style="text-align:center">
            <form action="." method="post" class="form-horizontal " style="text-align:center">
                {% csrf_token %}
                <h4 style="text-align:center">Используйте локальную учетную запись для входа в систему.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label" style="text-align:center">Имя пользователя</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label" style="text-align:center">Пароль</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="Следующий" value="/" />
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors" style="text-align:center">Пожалуйста, введите правильное имя пользователя и пароль.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock navbarOnAbout %}