{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}">

{% if user.is_authenticated %}

<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Привет {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
</form>

{% else %}
<!-- 
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Войти</a></li>
</ul> -->
<li class="nav-item navbar-item navbar-right">
    <a class="nav-link active" aria-current="page" href="login">Войти</a>
</li>

{% endif %}
