{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/site.css' %}">

<nav class="navbar  fixed-top navbar-expand-lg bg-body-tertiary navbar-bg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand align-text-top" href="/">
            <img src="{% static 'Images\topsmone-Recovered.png' %}" alt="логотип" class="logo" />
            Topsmone
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item navbar-item">
                    <a class="nav-link active" aria-current="page" href="phones">Смартфоны</a>
                </li>
                <li class="nav-item navbar-item">
                    <a class="nav-link active" aria-current="page" href="about">О нас</a>
                </li>
                <li class="nav-item navbar-item">
                    <a class="nav-link active" aria-current="page" href="contacts">Обратная связь</a>
                </li>
                <li class="nav-item navbar-item">
                    <a class="nav-link active" aria-current="page" href="registration">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="{% static 'scripts/bootstrap.js' %}"></script>
