{% extends 'index.html' %}

{% block navbarOnAbout %}

<h1 style="padding-top:50px; text-align:center">Видео</h1>
<hr />
<div>
    <h2 style="padding-left:50px;">
        Видео-ролик
    </h2>
    <video src="/media/12.mp4" style="padding-left:50px;" controls=" controls" width="400" height="300" poster="/media/poster1.jpg"></video>
</div>
<hr />
<div>
    <h2 style="padding-left:50px;">
        Видео-ролик 2
    </h2>
    <video src="/media/12.mp4" style="padding-left:50px;" controls=" controls" width="400" height="300" poster="/media/poster1.jpg"></video>
</div>
{% endblock navbarOnAbout %}